@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

html {
  /* background-color: red; */
  font-family: Arial, Helvetica, sans-serif;
}

.ponderize {
  display: flex;
  min-height: 200px;
}

.sidebar {
  background-color: yellow;
  flex: 1;
  padding: 2em;
  line-height: 1.5;
}

.sidebar-scripture:hover {
  color: blue;
}

.sidebar-scripture-x:hover {
  color: red;
}

.active-scripture {
  background-color: gray;
  flex: 5;
  text-align: center;
}
